# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
*.egg

# Database
instance/
*.db

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
